.container {
  height: 800px;
  background-color: lightblue;
  position: relative;
}
/* jumbotron */
#body_messages {
  position: fixed;
  width: 100%;
  bottom: 5%;
  z-index: 4;
}
#text_messages {
  background: #ffffff;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
}
#text_messages p {
  margin: 0;
}
#img_messages {
  height: 100%;
  line-height: 20px;
  padding: 15px;
}
#img_messages button {
  padding: 6px 12px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
}
#img_messages img {
  max-width: 70px;
  width: 60%;
  cursor: pointer;
}
