body {
  font-family: 'Roboto', sans-serif;
  color: #806987;
}
h1 {
  font-size: 900;
  font-weight: bolder;
}
h2{
  font-size: 700;
  font-weight: bolder;
  color: #020d29;
}
h3 {
  color: #020d29;
}
h5 {
  color: #020d29;
  font-weight: bolder;
}
p {
  font-size: 400;
}
a {
  color: #806987;
}
/* colori testo */
.text_blue_el {
  color: #006AFF;
}
.text_blue_el:hover {
  color: #1633FF;
}
.text_link {
  text-decoration: underline;
}
/* colori testo */
/* liste */
ul {
  padding: 0;
  margin: 0;
}
.list_inline li {
  display: inline-block;
  padding-right: 10px;
}
.list_vertical {
  list-style-type: none;
  border-left: 1px solid #806987;
}
.list_vertical li {
  padding: 10px;
}
.list_vertical li:hover {
  border-left: 1px solid  #006AFF;
}
.list_vertical li:hover a {
  text-decoration: none;
  color: #020d29;
}
/* /liste */
/* tabelle immagini e testo */
.block_img {
  height: 50px;
}
.block_img img {
  height: 100%;
}
.block_text {
  padding: 10px 10px 15px 0px;
}
/* tabelle immagini e testo */
/* button */
/* button-color */
.btn_white {
  background-color: #ffffff;
  border: 1px solid #006AFF;
  color: #006AFF;
  font-weight: bolder;
}
.btn_white:hover {
  background-color: #006AFF;
  color: #ffffff;
}
.btn_blue_el {
  background-color: #006AFF;
  border: 1px solid #006AFF;
  color: #ffff;
}
.btn_blue_el:hover {
  background-color: #1633FF;
  border: 1px solid #1633FF;
  color: #ffff;
}
.btn_shadow {
  font-weight: bolder;
}
/* button-size */
.btn_ex_lg {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*/ button */

/* header */
/* header-top */
#header_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
}
#header_top a {
  color: #031B4E;
}
#header_top a:hover {
  color: #006AFF;
  text-decoration: none;
}
#navbar_brand img {
  width: 160px;
  padding: 5px;
  vertical-align: middle;
}
#humburger_icon {
  font-size: 20px;
}
/*/ header-top */
/* jumbotron */
#jumbotron {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
}
#jumbotron_title {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 20px;
}
#jumbotron_title h1 {
  font-size: 38px;
  color: #ffffff;
}
#jumbotron_card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 20px 10px;
}
#jumbotron_card h3 {
  margin: 0;
}
#jumbotron_card input {
  margin-top: 10px;
  margin-bottom: 10px;
}
#jumbotron_card button {
  position: relative;
}
#jumbotron_card button i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY( -50%);
  padding-left: 10px;
}
#jumbotron_card p {
  font-size: 10px;
}
/*/ jumbotron */
/*/ header */
/* main */
/* logo business area */
#logo_grid {
  background-color: #F3F5F9;
  padding: 30px 0;
  font-size: 0;
}
#logo_grid_img ul {
  padding: 20px 0;
}
#logo_grid_img ul li {
  padding: 5px;
}
.cube {
  width: calc(100% / 2 - 5px);
}
.cube img {
  max-width: 100%;
}
#logo_grid p  a{
  font-weight: bolder;
  text-decoration: none;
}
/* /logo business area */

/* sezione uno- - Deploy and scale seamlessly */
#deploy_scale {
  padding: 40px 0;
}
/* per la classe block-img e block-texte vedi sopra */
/* /sezione uno- - Deploy and scale seamlessly */
/* Designed for developers */
#designed_developers {
  background-color: #F3F5F9;
  padding: 30px 0;
  text-align: center;
}
#designed_developers img {
  width: 100%;
}
#designed_developers .scroll_item_container p {
  font-weight: bolder;
  color: #020d29;
  padding: 15px;
}
.scroll_item_container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.scroll_item {
  display: inline-block;
}
.scroll_item_center {
  width: 45%;
}
.scroll_item_arrow {
  font-size: 30px;
  padding: 10px;
}
.scroll_item_arrow a:hover {
  color: #020d29;
}
.btn_circle {
  border: 2px solid #006AFF;
  border-radius: 50%;
  color: white;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* /Designed for developers */

/* dispositivi sm */
@media screen and (min-width: 750px) {

    /* header */
    #jumbotron_title h1 {
      font-size: 68px;
      }
    #jumbotron {
      padding-top: 70px;
      padding-bottom: 60px;
    }
    /* /header */
    /* main */
    /* logo business area */
    .cube {
      width: calc(100% / 3 - 5px);
    }
    /* /logo business area */
    /* Deploy and scale seamlessly */
    .columns {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    /*Deploy and scale seamlessly */
    /* /main */
}


/* dispositivi md */
@media screen and (min-width: 992px) {

    /* header */
    #jumbotron_title h1 {
      font-size: 68px;
      }
      #jumbotron {
        padding-top: 90px;
        padding-bottom: 90px;
      }
      /*/ header */

      /* main */
      /* logo business area */
      .cube {
        width: calc(100% / 6 - 5px);
      }
      /* /logo business area */
      /* /main */

}
