body {
  font-family: 'Roboto', sans-serif;
  color: #806987;
}
h1 {
  font-size: 900;
  font-weight: bolder;
}
h2{
  color: #020d29;
}
h3 {
  color: #020d29;
}
.text_blue_el {
  color: #006AFF;
}
.text_link {
  text-decoration: underline;
}
ul {
  margin: 0;
}
.list_inline li {
  display: inline-block;
  padding-right: 10px;
}
/* button */
/* button-color */
.btn_white {
  background-color: #ffffff;
  border: 1px solid #006AFF;
  color: #006AFF;
  font-weight: bolder;
}
.btn_white:hover {
  background-color: #006AFF;
  color: #ffffff;
}
.btn_blue_el {
  background-color: #006AFF;
  border: 1px solid #006AFF;
  color: #ffff;
}
.btn_blue_el:hover {
  background-color: #1633FF;
  border: 1px solid #1633FF;
  color: #ffff;
}
.btn_shadow {
  font-weight: bolder;
}
/* button-size */
.btn_ex_lg {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*/ button */

/* header */
/* header-top */
#header_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
}
#header_top a {
  color: #031B4E;
}
#header_top a:hover {
  color: #006AFF;
  text-decoration: none;
}
#navbar_brand img {
  width: 160px;
  padding: 5px;
  vertical-align: middle;
}
/*/ header-top */
/* jumbotron */
#jumbotron {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
}
#jumbotron_title {
  color: #ffffff;
  padding-right: 20px;
}
#jumbotron_title h1 {
  font-size: 38px;
}
#jumbotron_card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 20px 10px;
}
#jumbotron_card h3 {
  margin: 0;
}
#jumbotron_card input {
  margin-top: 10px;
  margin-bottom: 10px;
}
#jumbotron_card button {
  position: relative;
}
#jumbotron_card button i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY( -50%);
  padding-left: 10px;
}
#jumbotron_card p {
  font-size: 10px;
}
/*/ jumbotron */
/*/ header */


@media screen and (min-width: 992px) {

    #jumbotron_title h1 {
      font-size: 68px;
      }
}
